header .logo
{
  color: rgb(172, 58, 58);
  text-transform: uppercase;
  cursor: pointer;
  
}
header
{
  background-color: #fff;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section2{
    display: flex;
}