.topnav {
  display: none;
}

.mainnav {
  display: none;
}

ul {
  margin: 0;
}

.flex-adjust-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: unset;
  text-decoration: none;
  background-color: unset;
}

.fixed {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 100;
}

.top-navbar {
  background-color: #3e3e3e;
  color: #fff;
  padding: 4px 0;
}

.top-navbar ul {
  justify-content: flex-end;
}

.top-navbar li {
  margin: 0 5px;
}

.top-navbar span {
  font-size: 12px;
}

.top-navbar i {
  color: #fff;
}

.left-side i {
  color: var(--third-color);
}

.center-list {
  width: 40%;
  margin-left: 20%;
}

.center-list ul {
  margin: 0;
  justify-content: space-around;
}

.center-list li {
  margin-right: 10px;
}

.contenedor {
  position: absolute;
}

.bottom-navbar .container-fluid {
  padding-top: 20px;
  padding-bottom: 20px;
}

.campaign-button {
  color: var(--secondary-color);
  border: 3px solid var(--primary-color);
  border-radius: 0;
  width: 150px;
}

.border-shadow-header {
  box-shadow: -5px -2px 14px 6px #ee523c;
}

.campaign-button:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: #fff;
}

.campaign-button:focus,
.campaign-button:active {
  outline: none !important;
  box-shadow: 0 0 0 0.2rem #ee523c5c !important;
  border-color: var(--primary-color) !important;
}

.ham {
  position: relative;
  width: 3rem;
  height: 2rem;
  margin-left: 0.5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: rgb(26, 23, 23);
  top: -2px;
}

.opacited {
  background-color: #e6e6e6;
  height: 100%;
}

.leftsided img {
  width: 80px;
  height: 50px;
  padding: 1px;
  margin-left: 146px;
}

.menuX {
  position: absolute;
  top: 1rem;
  right: 2rem;
  width: 2rem;
  height: 2rem;
  margin-left: 0.5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: rgb(14, 1, 1);
}

.sideNav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 101;
  background: var(--primary-color);
  width: 370px;
  height: 90vh;
  overflow: hidden;
  color: #fff;

  /* hide the menu above the screen by default */
  transform: translateX(-100%);
  transition: transform 0.2s ease;
  background-repeat: no-repeat;
}

.showNav {
  transform: translateX(0);
}

.sideNav ul {
  width: 100%;
  height: 91%;
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  gap: 30px;
  background-repeat: no-repeat;
  background-position: 0% 100%;
}

.sideNav ul li a {
  display: block;
  color: rgb(31, 3, 3);
  padding-bottom: 10px;
  margin-top: rem;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
}

.sideNav ul li a:hover,
.sideNav ul li a:focus {
  border-bottom: 2px solid rgba(14, 1, 1, 0.755);
}

.overlayy {
  position: fixed;
  display: none;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  width: 300px;
  height: 50vh;
}

.showOverlay {
  display: block;
}

.left-side img {
  width: 100px;
}

@media (min-width: 768px) {
  .ham {
    display: none;
  }

  .opacited {
    display: none;
  }

  .main-h2 {
    display: none;
  }

  .topnav {
    height: 36px;
    background-color: #3e3e3e;
    text-align: right;
    line-height: 36px;
    vertical-align: middle;
    display: block;
  }

  .topnav nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 253px;
    gap: 100px;
    list-style-type: none;
  }

  .mainnav {
    width: calc(100%);
    height: 84px;
    float: right;
    color: #000;
    text-align: right;
    vertical-align: middle;
    position: relative;
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 30%);
    display: block;
  }

  .main-h1 {
    top: 40px;
    position: relative;
    right: 1400px;
    background: url(../images/images.jpg);
    -webkit-background-clip: text;
    color: transparent;
  }

  .main-button {
    border: 2px solid orangered;
    background-color: rgb(77, 61, 54);
    height: 70px;
    color: aliceblue;
    position: relative;
    font-size: large;
    bottom: 40px;
  }

  .mainnav nav {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 100px;
    margin-right: 250px;
  }

  .toggle {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .border-shadow-header {
    box-shadow: none !important;
  }
}

@media only screen and (min-width: 768px) {
  .behind-navbar {
    margin-top: 80px;
  }

  .fixed {
    background-color: white;
  }

  .contenedor {
    background-color: #fff;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 100;
  }
}

@media only screen and (min-width: 1200px) {
  .top-navbar .container-fluid,
  .bottom-navbar .container-fluid {
    padding-left: 150px;
    padding-right: 150px;
  }
}
