.topnav{
  display: none;
  }
  .mainnav{
   display: none;
  }
  .section2{
    display: flex;
}
.main-h1{
  left: 220px;
  top: 19px;
  position: relative;
  background:url(../images/images.jpg);
  -webkit-background-clip:text;
  color:#3e3e3e;
  line-height: 25px;
}

.toggle
{
  position: relative;
  width: 40px;
  height: 50px;
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
  background-color: #000;
  border-radius: 6px;
  left: 3px;
  top: 1px;

}
.toggle.active
{
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}


  @media (min-width:  768px){
    .topnav{
      height: 36px;
      background-color: #3e3e3e;
      text-align: right;
      line-height: 36px;
      vertical-align: middle;
      display: block;
    }
    .topnav nav{
      display: flex;
      justify-content: flex-end;
      margin-right: 253px;
      gap: 100px;
      list-style-type: none;
      
    }
    .mainnav{
      width: calc(100%);
      height: 84px;
      float: right;
      color: #000;
      text-align: right;
      vertical-align: middle;
      position: relative;
      box-shadow: 0 2px 8px 0 rgb(0 0 0 / 30%);
      display: block;
    }
    .main-h1{
      top: 40px;
      position: relative;
      right: 1400px;
      background:url(../images/images.jpg);
      -webkit-background-clip:text;
      color:transparent;
    }
    .main-button{
      border: 2px solid orangered;
      background-color: rgb(77, 61, 54);
      width: 150px;
      height: 80px;
      color: aliceblue;
      position: relative;
      font-size: large;
      bottom: 45px;
    }
    .mainnav nav  {
     list-style-type:none;
      display: flex;
      justify-content: flex-end;
      gap: 100px;
      margin-right: 250px;
    }

  
    .toggle{
      display: none;
    }
    
  }